.container {
    height: 500px;
}

.spinner-border {
    width: 4rem; 
    height: 4rem; 
    color: #2DD295;

}

select {
    background-color: #2B2E33!important;
    color: #FFF!important;
    border: none!important;
    border-radius: 12px;
}

option {
    background-color: #2B2E33;
    color: #FFF;
}