.container {
    height: 500px;
}

select {
    background-color: #161820!important;
    color: #FFF!important;
    border: none!important;
    border-radius: 12px;
}

option {
    background-color: #161820;
    color: #FFF;
}