.container {
    height: 500px;
}

select {
    background-color: #2B2E33!important;
    color: #FFF!important;
    border: none!important;
    border-radius: 12px;
}

option {
    background-color: #2B2E33;
    color: #FFF;
}