<div class="mb-5 position-relative" id="above-the-fold">
    <img src="https://asset.vg247.com/valorant_keyart_new_black_1.jpg/BROK/resize/1920x1920%3E/format/jpg/quality/80/valorant_keyart_new_black_1.jpg"
        alt="immagine-copertina">
    <div class="position-absolute h-100 d-flex flex-column justify-content-center align-items-center" id="glass">
        <h1 class="font-weight-bold">VALORANT</h1>
        <p class="font-weight-light w-50 text-center">{{aboveTheFoldInput.short_description}}</p>
        <div><a class="btn btn-one" id="bt" href="{{aboveTheFoldInput.game_url}}" target="_blank" >DOWNLOAD NOW</a></div>
    </div>
</div>