<div class="text-center m-5">
    <button (click)="getByPlatform('all')" [class.active]="activeButton === 'all'">All</button>
    <button (click)="getByPlatform('browser')" [class.active]="activeButton === 'browser'">Browser</button>
    <button (click)="getByPlatform('pc')" [class.active]="activeButton === 'pc'">Pc</button>
</div>

 <div class="d-flex flex-column">
    <div class="container">
        <div class="row">
          <app-games-list [gameList]="gamePlatformList" [listStyle]="{ showViewMore: true }"></app-games-list>
        </div>
    </div>
</div>
