.logo {
  width: 35px;
}

nav {
  background-color: #161820;
  border-bottom: 2px solid black;
  a {
    color: #8f8f8f;
    text-decoration: none;
    transition: 0.5s;
  }

  a:hover {
    color: #fff;
    transition: 0.5s;
  }

  a.active {
    color: #fff;
  }

  .border-nav {
    border-bottom: 4px solid #2DD295;
  }

  input {
    background-color: #161820;
    border-radius: 20px;
    border: 1px solid #6e7178;
    width: 25, 7rem;
    color: #fff;
  }

  input::placeholder {
    color: #fff;
  }
}
