.logo {
  width: 30px;
  height: 30px;
  background-color: #8f8f8f;
  border-radius: 8px;
}

header {
  background-color: #1c1d21;
  border-bottom: 2px solid black;
  a {
    color: #8f8f8f;
    text-decoration: none;
  }
  a:hover{
      color: #FFF;
      font-weight: 500;
  }
  input {
    background-color: #1c1d21;
    border-radius: 15px;
    border: 1px solid #6e7178;
  }
  input::placeholder{
      color: #FFF;
  }
}
