<footer class="d-flex flex-column py-4">
  <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center p-2">
        <div class="m-2">
          <img class="logo" src="/assets/img/logo.png">
        </div>
        <h5 style="font-size: 1rem;">GamerSpot</h5>
      </div>
      <div class="socialogos d-flex flex-row align-items-center justify-content-center p-2">
        <a class="m-3" href=""><fa-icon [icon]="ytLogo"></fa-icon></a>
        <a class="m-3" href=""><fa-icon [icon]="igLogo"></fa-icon></a>
        <a class="m-3" href=""><fa-icon [icon]="fbLogo"></fa-icon></a>
        <a class="m-3" href=""><fa-icon [icon]="discordLogo"></fa-icon></a>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-around p-2">
          <a href="">PRIVACY POLICY</a>
          <a href="">ABOUT US</a>
          <a href="">COOKIE POLICY</a>
          <a href="">COOKIE SETTINGS</a>
      </div>
  </div>
</footer>
