<footer class="d-flex flex-column">
    <div class="d-flex flex-row align-items-center justify-content-center p-4">
      <div class="imglogo mx-2"></div>
      <h5>LOGO</h5>
    </div>
    <div class="socialogos d-flex flex-row align-items-center justify-content-center p-4">
      <a class="m-3" href=""><fa-icon [icon]="ytLogo"></fa-icon></a>
      <a class="m-3" href=""><fa-icon [icon]="igLogo"></fa-icon></a>
      <a class="m-3" href=""><fa-icon [icon]="fbLogo"></fa-icon></a>
      <a class="m-3" href=""><fa-icon [icon]="discordLogo"></fa-icon></a>
    </div>
    <div class="d-flex flex-row align-items-center justify-content-around p-4">
        <a href="">PRIVACY POLICY</a>
        <a href="">ABOUT US</a>
        <a href="">COOKIE POLICY</a>
        <a href="">COOKIE SETTINGS</a>
    </div>
  
  </footer>
