<div class="container">
  <h4 class="font-weight-bold mb-3">Most Played <span *ngIf="!loadingSpinner" class="font-weight-light">({{mostPlayedGames.length}})</span></h4>


  <div *ngIf="loadingSpinner" class="d-flex justify-content-center align-items-center" style="height: 300px;">
    <div class="spinner-border" role="status"></div>
  </div>

  <app-games-list *ngIf="!loadingSpinner" [gameList]="mostPlayedGames" [listStyle]="{
      type: 'col-4 mb-5',
      partialGamesCounter: 3,
      showViewMore: false,
      cardHeight: '280px' }">
  </app-games-list>

  <app-games-list *ngIf="!loadingSpinner" [gameList]="mostPlayedGames.slice(3)"></app-games-list>
</div>