.card {
  background-color: #161820;
  border-radius: 20px;
  height: 365px;
  transition: 0.3s;
  img {
    border-radius: 15px;
    height: 100%;
    margin: 0;
    object-fit: cover;
  }
}

.card:hover {
  background-color: black;
  transition: 0.5s;
}

.plat {
  color: #a27caf;
}
.pub {
  color: #6f87a3;
}

#btn-download {
  color: #2dd295;
}
