<div class="card d-flex flex-row-reverse justify-content-between">
    <div>
        <img src={{bannerDetail.thumbnail}} class="card-img-top m-3" alt="copertina gioco">
    </div>
      <div class="card-detail m-4">
        <h1 class="card-title mb-1">{{bannerDetail.title}}</h1>
        <p class="card-subtitle mb-1">{{bannerDetail.short_description}}</p>
    <div class="d-flex justify-content-between">
        <sub class="plat p-1">{{bannerDetail.platform }}</sub>
        <sub class="pub p-1">{{bannerDetail.publisher }}</sub>
    </div> 
          <button class="text-center m-4">Download Now</button>
       </div>
</div>