.card{
    background-color: #25282D;
    border-radius: 20px;
    img{
        border-radius: 20px;
        width: 380px;
        margin: 0;
    }
}

.plat{
    color: #A27CAF;
}
.pub{
    color: #6F87A3;
}

#btn-download-border {
    color: #2DD295;
    border: 4px solid #2DD295;
    border-radius: 20px;
    padding: 6px;
  }
