/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: MADE Tommy Soft;
  src: url(assets/fonts/MADE-Tommy-Soft-Regular.otf) format(opentype);
  src: url(assets/fonts/MADE-Tommy-Soft-Medium.otf) format(opentype);
  src: url(assets/fonts/MADE-Tommy-Soft-Bold.otf) format(opentype);
}

@font-face {
  font-family: 'MADE Tommy Soft Outline';
  src: url(assets/fonts/MADE-Tommy-Soft-Bold-Outline.otf) format(opentype);
}

body {
  font-family: "MADE Tommy Soft";
  background-color: #1F212B;
  padding-top: 82px;
}

#btn-download {
  color: #2dd295;
  padding-top: 7px;
  cursor: pointer;
}

.badge {
  border-radius: 20px;
  background-color: #f06220;
  font-weight: 500;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  color: #2dd295;
}

.modal-custom .modal-content {
  border: 0px none #ffffff;
  border-radius: 24px;
  background-color: #2b2e35;
  color: white;
  padding: 5px 5px 16px 5px;
}

.modal-custom .modal-dialog {
  overflow-y: initial;
  max-width: 600px;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(49, 49, 49, 0);
  border-radius: 10px;
  max-height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #2dd295;
  border-radius: 10px;
}