<!-- TODO - BANNER -->
<div class="d-flex justify-content-evenly">
    <app-banner-card></app-banner-card>
</div>

<div class="container">
  <div *ngIf="loadingSpinner < 2; else loadedGames" class="d-flex justify-content-center align-items-center"
    style="height: 300px;">
    <div class="spinner-border" role="status"></div>
  </div>

  <ng-template #loadedGames>
    <div class="row mb-5">
      <div class="col-8">
        <app-banner-card [bannerInput]="bannerDetail"></app-banner-card>
      </div>
      <div class="col-4">
        <app-most-played-card [partialMostPlayed]="partialMostPlayed"></app-most-played-card>
      </div>
    </div>

    <h4 class="font-weight-bold mb-3">All Games <span class="font-weight-light">({{allGames.length}})</span></h4>
    <app-games-list [gameList]="allGames"></app-games-list>
  </ng-template>
</div>