.modal-body {
  height: 250px;
  overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
  width: 3px;
  background-color: rgb(92, 92, 92);
  border-radius: 10px;
  max-height: 10px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #2dd295;
}


.btn-danger {
  position: absolute;
  border-radius: 10px;
  top: 10px;
  right: 10px;
}

.card-img-top {
  border-radius: 20px 20px 0px 0px;
}

#btn-download {
  color: #2DD295;
  margin-bottom: 7px;
}

#genre {
  font-size: 13px;
}

#platform {
  color: #A27CAF;
  font-size: 13px;
}

#developer {
  color: #6F87A3;
  font-size: 13px;
}

.badge {
  border-radius: 20px;
  background-color: #f06220;
  font-weight: 500;
}

#game-info {
  font-size: 16px;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  color: #2dd295;
}
